{% extends 'layout/default.twig' %}

{% block isi %}
	{% if info %}
		<div class="alert alert-success">Data berhasil dihapus</div>
	{% endif %}
    <div class="isi">
    	{% for x in data %}
    	    <div class="panel panel-default barang">
    	    	<div class="panel-heading">
    	    		{{ x.judul }}
    	    		<a href="#!" class="close" data-hapus='{{ x.id }}'>&times;</a>
    	    	</div>
    	    	<div class="panel-body isinya-gambar">
    	    		<img src="{{ base_url() }}aset/gambar/{{ x.gambar }}" alt="">
    	    	</div>
    	    </div>
    	{% endfor %}
    </div>
{% endblock %}

{% block di_luar_container %}
    <div class="navbar navbar-default navbar-fixed-bottom">
    	<div class="container">
    		<form action="" class="bagian-cari">
    			<input type="tel" class="form-control cari-di-sini">
    		</form>
    	</div>
    </div>
{% endblock %}

{% block skrip %}
	<script>
	    {% for x in data %}
	        $('[data-hapus={{ x.id }}]').click(function(){
	        	hapus_kah = confirm('Hapus kah?')
	        	if (hapus_kah){
	        		location.href = '{{ site_url() }}hapus/{{ x.id }}'
	        	}
	        })
	    {% endfor %}
	    $('.cari-di-sini').on('keyup', function(){
	    	$('.barang').addClass('sembunyi')
	    	$('.barang').each(function(){
				if ($(this).is(':contains(' + $('.cari-di-sini').val() + ')')) {
					$(this).removeClass('sembunyi')
				}
			})
	    })
    </script>
{% endblock %}